# =========================
# Eclipse / STS
# =========================
.metadata/
.project
.classpath
.settings/

# =========================
# Maven
# =========================
target/

# =========================
# Spring Boot
# =========================
*.log
logs/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# IntelliJ
# =========================
.idea/
*.iml

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env

# =========================
# React (Future Frontend)
# =========================
node_modules/
dist/
build/